APP_NAME=Maily API
DEBUG=true

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_REDIRECT_URI=http://127.0.0.1:8000/api/auth/google/callback

GOOGLE_SCOPES=https://www.googleapis.com/auth/gmail.readonly

DATABASE_URL=postgresql+psycopg://postgres:maily123@localhost:5432/maily

GROQ_API_KEY=your_groq_api_key_here